@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
* {
  margin:0;
  font-family: 'Kumbh Sans', sans-serif;
}
body {
  height: 100%;
  background: rgb(60,6,96);
  background: linear-gradient(57deg, rgba(60,6,96,1) 3%, rgba(12,88,112,1) 54%, rgba(15,16,27,1) 77%, rgba(15,16,18,1) 100%);
  background-repeat: no-repeat;
}
.navbar {
  margin-top: -3px;
  border-bottom: 2px solid rgb(39, 39, 95);
  position: fixed;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(121,9,9,1) 0%, rgba(0,0,0,1) 0%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.nav-list {
  margin-right:5px;
  list-style: none;
  display: flex;
}
.nav-item a{
  text-decoration: none;
  padding: 15px 10px;
  color: #ffffff;
  font-weight: lighter;
} 
.nav-item {
  padding:14px 0;
  
}

ul li:not(:last-child) {
  border-right: 2px solid rgb(39, 39, 95);
}
.logo {
  margin-top: 15px;
}
h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 50px;
}
span {
  color: #c20a0a;
}
.nav-item a:hover {
  color:#1a1aff;
  background-color: #ffffff

}
.projectSection {
  margin-top: -400px;
  margin-bottom: 100px;
}
h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 4rem;  
  margin-left: 5px;
  word-spacing: normal;
  padding-top: 160px;
}
h3:last-child {
  padding-top: 30px;
  margin-bottom: 100px;
}

.contact {
  position: relative;
  color: white;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-right: 100px;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

h4 {
  -webkit-text-stroke: 1.5px black;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.flex-item {
  filter: drop-shadow(10px 10px 10px rgb(20, 20, 18));
  width: 380px;
  height: 300px;
  margin: 10px;
  border-radius: 50px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #dfdfdf;
}
.flex a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
h5 {
  margin: 500px 0 20px 50px;
  font-size: 2rem;
  -webkit-text-stroke: 1.5px black;
  /* font-family: 'Josefin Sans', sans-serif; */
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
input {
  filter: drop-shadow(10px 10px 10px rgb(20, 20, 18));
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 0.5rem;
  width: 450px;
  height: 25px;
}
#mensaje {
  height: 40px;
}
#enviar {
  width: 110px;
  height: 30px;
  top:50%;
  background-color:#c20a0a;
  color: #fff;
  border:none;
  border-radius:10px;
}
#enviar:hover {
  background-color: #a5b687
}
.about {
  font-family: 'Josefin Sans', sans-serif;
  margin: 100px 5px 100px 5px;
  text-align: justify;
  color: #fff;
  font-weight: 100;
  column-count: 2;
}
h2 {
  -webkit-text-stroke: 1.5px black;
  margin: 0px 0px 20px 4px;
  text-align: center;
  font-size: 2.8rem;
}
p {
  margin: 10px 5px 0px 5px;
  word-spacing: 5px;
  letter-spacing: 0.8px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 30px;
}

hr.rounded {
  border-top: 2px solid rgb(2, 4, 7);
  border-radius: 2px;
}

.pageBottom {
  position: relative;
}
.pageTop {
  position: relative;
}

.custom-shape-divider-bottom-1658821084 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658821084 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.custom-shape-divider-bottom-1658821084 .shape-fill {
  fill: #F5A623;
}

.custom-shape-divider-top-1658821563 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1658821563 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 196px;
}

.custom-shape-divider-top-1658821563 .shape-fill {
  fill: #F5A623;
}